.scroll-button {
  display: none;
}
@media screen and (min-width: 992px) {
  .scroll-button {
    position: fixed;
    /* width: 100%; */
    /* left: 95%;
  bottom: 65px; */
    right: 16px;
    bottom: 16px;
    /* height: 20px; */
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
  }
}
