.blog {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  display: flex;
  flex-direction: column;
}
.blog-info {
  padding: 1.5rem 1.5rem;
  background-color: var(--clr-grey-10);
  flex-grow: 1;
}
.blog-img {
  height: 208px;
  object-fit: cover;
  overflow: hidden;
  flex-grow: 0;
}
.blog img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.blog-info__h4 {
  color: var(--clr-black);
}
