.blurb {
  display: flex;
  flex-direction: column;
}
.blurb--heading,
.blurb--sub-heading,
.blurb--minor-heading {
  /* line-height: 1.25; */
  margin-bottom: 16px;
  /* color: var(--clr-white); */
  color: var(--clr-grey-10);
}
