.blurb {
  display: flex;
  flex-direction: column;
}
.blurb--heading,
.blurb--sub-heading,
.blurb--minor-heading {
  /* line-height: 1.25; */
  margin-bottom: 32px;
  color: var(--clr-white);
}
.blurb--headings {
  margin-bottom: 50px;
}
