.hero {
  /* height: 75vh; */
  position: relative;
  overflow: hidden;
}
.hero-size-full {
  height: calc(100vh - 128px);
}
.hero-size-large {
  height: 75vh;
}
.hero-size-medium {
  height: 50vh;
}
.hero--image {
  height: 100%;
}
.hero--image:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.hero--info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90vw;
  max-width: var(--max-width);
  height: 100%;
  display: flex;
  align-items: center;
}
.hero--article {
  /* padding: 70px 0; */
  /* width: var(--max-width); */
  /* max-width: 670px; */
  color: var(--clr-white);
  flex-grow: 1;
}
.hero--article-align-left {
  text-align: left;
  max-width: 670px;
}
.hero--article-align-center {
  text-align: center;
}
.hero--article-title {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.25;
  /* margin: 2rem 0 3rem 0; */
  letter-spacing: 3px;
  color: var(--clr-white);
  font-size: 72px;
}
.hero--article-content {
  font-weight: 400;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-size: 28px;
}
