.hero {
  /* height: 75vh; */
  position: relative;
  overflow: hidden;
}
.hero-size-large {
  height: 75vh;
}
.hero-size-medium {
  height: 50vh;
}
.hero--image {
  height: 100%;
}
.hero--info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
.hero--article {
  /* padding: 70px 0; */
  width: var(--max-width);
  /* max-width: 800px; */
  color: var(--clr-white);
  background-color: cornflowerblue;
}
.hero--article-align-left {
  text-align: left;
}
.hero--article-align-center {
  text-align: center;
}
.hero--article h1 {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.25;
  /* margin: 2rem 0 3rem 0; */
  letter-spacing: 3px;
  color: var(--clr-white);
}
.hero--article h3 {
  font-weight: 400;
  color: var(--clr-white);
}

@media (min-width: 800px) {
  .hero--article h1 {
    letter-spacing: 5px;
  }
}
