.card-img {
  height: 100%;
  border-radius: var(--radius);
  transition: var(--transition);
}
.card-img:after {
  content: "";
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  height: 100%;
  position: absolute;
  top: 0;
  transition: background-color 500ms linear;
  left: 0;
}
.card-article {
  box-shadow: var(--light-shadow);
  border-radius: var(--radius);
  transition: var(--transition);
}
.card-article:hover {
  box-shadow: var(--dark-shadow);
}
.card-container {
  height: 15rem;
  position: relative;
  overflow: hidden;
  border-radius: var(--radius);
  background: var(--clr-primary-7);
}
.card-container:hover .card-img {
  opacity: 0.2;
}
.card-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  transition: var(--transition);
  color: var(--clr-white);
  text-align: center;
}
.card-info--title {
  color: var(--clr-white);
  /* text-transform: uppercase; */
  font-size: 20px;
}
@media (min-width: 768px) {
  .card-container {
    height: 15rem;
  }
}
@media (min-width: 992px) {
  .card-container {
    height: 12.5rem;
  }
}
@media (min-width: 1200px) {
  .card-container {
    height: 15rem;
  }
}
