.card-article {
  border-radius: var(--radius);
}
.card-container {
  height: 5rem;
  position: relative;
  overflow: hidden;
  background: var(--clr-primary-5);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.card-info--title {
  color: var(--clr-white);
  font-size: 16px;
  margin-bottom: 0;
}
.card-img {
  height: 100%;
  border-radius: var(--radius);
}
.card-img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  transition: background-color 200ms ease-in;
}
@media screen and (min-width: 1025px) {
  .card-container {
    height: 15rem;
  }
  .card-container:hover .card-img {
    opacity: 0.2;
  }
  .card-info--title {
    color: var(--clr-white);
    font-size: 20px;
  }
}
.card-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  color: var(--clr-white);
  text-align: center;
}

@media (min-width: 768px) {
  .card-container {
    height: 15rem;
  }
}
@media (min-width: 1025px) {
  .card-container {
    height: 12.5rem;
  }
}
@media (min-width: 1200px) {
  .card-container {
    height: 15rem;
  }
}
