.card {
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  margin-bottom: 1rem;
}
.card__container {
  height: 5rem;
  position: relative;
  overflow: hidden;
  background: var(--clr-primary-5);
  border-radius: var(--radius);
}
.card__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  color: var(--clr-white);
  text-align: center;
}
.card__info--title {
  color: var(--clr-white);
  font-size: 1rem;
  letter-spacing: var(--spacing);
}
.card__img {
  height: 100%;
  border-radius: var(--radius);
}
.card__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  transition: background-color 200ms ease-in;
  border-radius: var(--radius);
}
@media (min-width: 768px) {
  .card__container {
    height: 15rem;
  }
  .card__container:hover .card-img {
    opacity: 0.2;
  }
}
@media (min-width: 1025px) {
  .card__info--title {
    font-size: 1.2rem;
  }
}
