.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partner--logo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.partner--info {
  max-width: 70%;
}
@media screen and (min-width: 1025px) {
  .partner--info {
    max-width: 95%;
  }
}
.partner--role {
  margin-bottom: 20px;
  text-align: center;
}
.partner--description p:last-child {
  margin-bottom: 0;
}
