/* tashkent conference 2021 page */

.tashkent-section__image {
  background-image: url("../images/mainBCG.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.tashkent-about--text-box,
.tashkent-talk {
  box-shadow: var(--light-shadow);
  padding: 32px;
  height: fit-content;
  background-color: var(--clr-white);
  box-shadow: var(--light-shadow);
  margin-bottom: 32px;
}

.tashkent__sponsors {
  display: none;
}

@media (min-width: 768px) {
  .tashkent__sponsors--grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
  }
  .tashkent__sponsor {
    height: 100px;
    width: 100px;
  }
}

@media (min-width: 992px) {
  .tashkent__sponsor {
    height: 150px;
    width: 150px;
  }
  .tashkent-about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
  .tashkent-talks {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
  }
}
