.about--container {
  margin-bottom: 24px;
}
.about--container-last {
  margin-bottom: 0px;
}
@media screen and (min-width: 1025px) {
  .about--container {
    display: grid;
    grid-template-columns: 300px auto;
  }
}
