.navbar {
  display: flex;
  align-items: center;
  padding: 24px 0;
  box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
}
.navbar--content {
  /* width: 90vw; */
  margin: 0 auto;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar--left {
  color: var(--clr-white);
  display: flex;
  align-items: center;
}
.navbar--right {
  color: var(--clr-white);
  display: flex;
  align-items: center;
}
.navbar--menu {
  border: transparent;
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: 500;
  padding: 10px 0px;
  text-transform: capitalize;
  position: relative;
  color: var(--clr-black);
  cursor: pointer;
  margin-right: 32px;
  display: flex;
}
.navbar--funders {
  display: none;
}
.navbar--links ul {
  display: none;
}
@media (min-width: 768px) {
  .navbar--links ul {
    display: flex;
    margin-right: 32px;
  }
  .navbar--links ul li {
    margin: 0 16px;
    padding: 0;
    color: var(--clr-black);
  }
}
@media (min-width: 992px) {
  .navbar--funders {
    display: flex;
    align-items: center;
    align-self: flex-end;
  }
  .navbar--funders-logo {
    margin-right: 16px;
  }
}
