.videoplayer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 20px;
}
.videoplayer--shadow {
  box-shadow: var(--box-shadow);
}
.videoplayer--cta {
  margin-bottom: 0;
}
.videoplayer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
