.sidebar {
  background-color: var(--clr-primary-6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0.9;
  transition: var(--transition);
  transform: translateX(-100%);
}
@media screen and (min-width: 992px) {
  .sidebar {
    width: 400px;
    padding-right: 32px;
  }
}
.show-sidebar {
  transform: translateX(0);
}
.sidebar-links {
  margin-left: 32px;
  margin-top: 100px;
}
.sidebar-links--link {
  display: block;
  text-transform: capitalize;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  margin-bottom: 0.25rem;
  font-size: 24px;
  border-radius: var(--radius);
}
.sidebar-links--link:hover {
  text-decoration: underline;
  color: var(--clr-white);
  cursor: pointer;
}
.sidebar-links--sub-menu {
  margin-left: 32px;
}
.sidebar-links--sub-menu--link {
  display: block;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  margin-bottom: 0.25rem;
  font-size: 16px;
}
.sidebar-links--sub-menu--link:hover {
  color: var(--clr-black);
}
.close-btn {
  position: absolute;
  right: 4.75%;
  top: 0;
  font-size: 36px;
  background: transparent;
  border-color: transparent;
  color: var(--clr-white);
  cursor: pointer;
}

/* social links */
.social-links {
  margin-top: 2rem;
  /* width: 15rem; */
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
.social-link {
  font-size: 1.75rem;
  color: var(--clr-grey-1);
  margin-right: 8px;
}
.social-link:hover {
  color: var(--clr-primary-5);
}
