.footer {
  color: var(--clr-white);
  background-color: var(--clr-primary-8);
  padding: 16px 0;
}
.footer--menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 8px;
}
.footer--col {
  padding: 16px;
  text-align: right;
}
.footer--logo {
  text-align: left;
}
.footer--logo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.footer--col h4 {
  color: var(--clr-black);
}
.footer--links ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer--links ul li {
  color: var(--clr-black);
}
