.footer {
  background: aquamarine;
  color: var(--clr-white);
}
.footer--menu {
  background-color: bisque;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer--col {
  background-color: blueviolet;
  padding: 16px;
}
.footer--logo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  background-color: cornflowerblue;
}
.footer--links ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
