.footer {
  color: var(--clr-white);
  background-color: var(--clr-primary-4);
}
.footer--menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 32px 0;
}
.footer--col {
  padding-right: 72px;
  text-align: left;
}
.footer--logo {
  text-align: left;
}
.footer .logo--banner {
  background-color: var(--clr-primary-5);
}
.footer--links ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer--links ul li {
  color: var(--clr-black);
}
.footer--bottom-row {
  background-color: var(--clr-primary-6);
  padding: 16px 0;
}
@media screen and (min-width: 992px) {
}
