.team--member-image {
  margin-bottom: 16px;
}
.team--member-image img {
  border-radius: var(--radius);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: var(--transition);
}
.team--member-image img:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
