.banner-image {
  position: relative;
  height: 50vh;
}
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 50vh;
  width: 100%;
  padding: 50px 0px;
}
.banner-caption {
  background-color: #333;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  letter-spacing: 10px;
  font-family: "Special Elite", sans-serif;
}
.blurb-caption {
  background-color: #333;
  max-width: 75vw;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  letter-spacing: 10px;
  font-family: "Special Elite", sans-serif;
}
