.mailchimp--title,
.mailchimp--message {
  color: var(--clr-white);
}
.mailchimp-form {
  background: transparent;
}
.mailchimp-form--input {
  display: block;
  width: 100%;
  padding: 8px 8px;
  margin: 8px 0;
  border: 0px;
  border-radius: var(--radius);
}
.mailchimp-form--button {
  display: block;
  padding: 8px;
  width: 100%;
}
